<div id="left">
  <div class="wrap">
    <h2>Sign Up</h2>
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>  
    <% end %>
    <div id="login">
      <%= form_tag(controller: "admins", action: "create", method: "post") do %>       
        <%= text_field :user, :name, class: "textfield", placeholder: "name"  %>
        <%= text_field :user, :username, class: "textfield", placeholder: "username"  %>
        <%= text_field :user, :celphone, class: "textfield", placeholder: "celphone"  %>
        <%= email_field :user, :email, class: "textfield", placeholder: "email"  %>
        <%= password_field :user, :password, class: "textfield", placeholder: "password"  %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrap">
  <div id="right">
    <%= image_tag "background_img4.png" %>
  </div>
</div>

<script type="text/javascript">
  $("input").keypress(function(event) {
      if (event.which == 13) {
          event.preventDefault();
          $("form").submit();
      }
  });
</script>